body{
    border: 2px solid black;


header{
    border-bottom: 1px solid black;
}

.head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
}

ul{
    list-style-type: none;
}

ul.menu{
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #AA4203;
}

a:hover{
    color: #770b02;
}

.logo{
    font-size: 24px;
    text-align: center;
}

.intro{
    text-align: center;
    font-size: x-large;
}   

.intro p{
    font-size: smaller;
}
